.container-direccion{
    width: 100%;
    min-height: 42%;
    border: 1px solid #000000;
    border-radius: 25px;
    margin-top: 5%;
    padding: 0 5% 5% 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

.datos-direccion{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
